{
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "lf",
  "printWidth": 100,
  "bracketSpacing": false,
  "semi": false,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "useTabs": false
}